.feature-information {
  display: flex;
  padding: 20px 10px;
  justify-content: center;

  .feature-informations {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: space-around;
    width: 100%;
    font-size: 18px;
  }
}
