@import "../../global-styles/colors";

.toggle-button {
  border: 2px solid #e3e3e3;
  border-radius: 4px;
  padding: 7px;
  margin: 0px 5px;
  user-select: none;

  img {
    height: 30px;
    width: 30px;
  }

  &.toggled {
    border: 2px solid greenyellow;

    &:hover {
      border-color: greenyellow;
    }
  }

  &:hover {
    cursor: pointer;
    border: 2px solid $dark-grey;
  }
}
