.identify-feature-page {
  .feature-information-container {
    display: flex;
    padding: 20px 0px;
    margin-bottom: 15px;
    justify-content: center;
    border-bottom: 1px solid #e3e3e3;

    .feature-informations {
      display: flex;
      flex-wrap: wrap;
      max-width: 1000px;
      justify-content: space-between;
      width: 100%;
      font-size: 20px;
    }
  }
}
