$dark-grey: #4c5355;
$light-grey: #e3e3e3;

$hover-color: #f2f2f2;
$hover-colorful: #01dcff;
$select-color: rgba(25, 118, 210, 0.08);
$text-primary: black;
$border-color: #e3e3e3;
$dark-border-color: #e3e3e3;
$background-color: white;
$error-color: #fc6e6e;
$success-color: #659165;
