@import "./colors";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

.main-container {
  display: flex;
  padding: 20px 20px;
  transition: all 0.3s linear;
  transform: translateX(0px);
  color: $text-primary;

  &.side-menu-open {
    transition: all 0.3s linear;
    transform: translateX(250px);
    width: calc(100% - 250px);
  }
}

.container-page {
  flex: 1;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}
