@import "./colors";
@import "./settings";

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

html,
body,
#root {
  height: 100vh;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

body {
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

.main-container {
  padding-top: 65px;
  display: flex;
  transform: translateX(0px);
  color: $text-primary;
  justify-content: center;

  &.side-menu-open {
    width: 100%;
  }
}

.page-container {
  max-width: 1300px;
  width: 100%;
}

.page-container-fitted {
  border-radius: 4px;
  padding: 30px;
  background-color: white;
  border: 1px solid $border-color;
  margin: 20px;
}

.container-max-size {
  max-width: 1500px;
}

.container-center {
  margin: 30px auto;
}

.container-background {
  border-radius: 4px;
  padding: 20px;
  background-color: white;
  border: 1px solid $border-color;
}

.block {
  border-radius: 4px;
  background-color: white;
  border: 1px solid $border-color;
  margin: 0px 0px 20px 0px;
  padding: 20px;
}

.block-title {
  font-size: 18px;
  padding-bottom: 20px;
  font-weight: bold;
}

.full-row {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  gap: 10px;

  &:last-child {
    padding-bottom: 0;
  }

  &.center-items {
    justify-content: center;
  }
}

.full-row-group {
  border: 1px solid $border-color;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  .full-row-group__title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 1px solid #ced0d1;
    margin-bottom: 15px;
  }
}

.justify-end {
  justify-content: flex-end;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

strong {
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .main-container {
    transition: all 0.3s linear;
    &.side-menu-open {
      transition: all 0.3s linear;
      transform: translateX($side-menu-size);
      width: calc(100% - #{$side-menu-size});
    }
  }
}

.Toastify__toast--success {
  background-color: $success-color;
}

.Toastify__toast--error {
  background-color: $error-color;
}

.mapboxgl-ctrl-group button {
  font-size: 15px;
}

.color-red {
  color: $error-color;
}

.text-red {
  color: $red;
}

.text-green {
  color: $green;
}

.text-center {
  text-align: center;
}
