@import "./colors";
@import "./settings";

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

html,
body,
#root {
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

.main-container {
  display: flex;
  padding: 20px 20px;
  transform: translateX(0px);
  color: $text-primary;
  justify-content: center;
  min-height: calc(100% - 67px);

  &.side-menu-open {
    width: 100%;
  }
}

.page-container {
  max-width: 1300px;
}

.full-row {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  gap: 10px;
}

.justify-end {
  justify-content: flex-end;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .main-container {
    transition: all 0.3s linear;
    &.side-menu-open {
      transition: all 0.3s linear;
      transform: translateX($side-menu-size);
      width: calc(100% - #{$side-menu-size});
    }
  }
}
