@import "../../../global-styles/colors";
@import "../../../global-styles/settings";

.static-bottom-menu {
  .static-bottom-menu-container {
    width: 100%;
    height: calc(100vh - ($top-menu-height + 37px));
    overflow-y: scroll;
  }

  .static-bottom-menu-menu {
    display: flex;

    .static-bottom-menu-menu_item {
      padding: 10px;
      flex: 1;
      text-align: center;
      border-top: 1px solid $border-color;
      border-right: 1px solid $border-color;
      &:hover {
        cursor: pointer;
        background-color: $select-color;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
}
