@import "../../../global-styles/colors";

.passage-view {
  padding: 20px;
}

.passage-view-container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid $border-color;
  border-radius: 4px;
  background-color: $header-color;
  justify-self: center;
}

.passage-view_title {
  padding: 10px;
  font-weight: bold;
  padding-right: 50px;
  font-size: 18px;
}

.passage-view-row-header {
  font-weight: bold;
  background-color: $header-color;
  border-bottom: none;
  font-size: 16px;
  width: 100%;
  border-bottom: none;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.passage-view-row-body {
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  width: 100%;
  background-color: white;

  .passage-view-row {
    &.passage-view-row--selected {
      background-color: $select-color;

      &:hover {
        cursor: pointer;
        background-color: $select-color;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: $select-color;
    }
  }
}

.passage-view-row {
  flex-basis: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  border-bottom: 1px solid $border-color;
  display: flex;
  align-items: center;
  height: 100%;

  &:last-child {
    border-bottom: none;
  }

  .passage-view-row-item {
    border-right: 1px solid $border-color;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 100%;

    &:last-child {
      border-right: none;
    }

    p {
      padding: 10px;
    }
  }
}
