.span-equipment-details {
  border-top: 1px solid #e3e3e3;
  padding-top: 20px;

  .span-equipment-details-container {
    max-width: 1000px;
    margin: 0px auto;
    font-size: 20px;
    p {
      padding: 5px 0px;
    }
  }
}
