@import "../../global-styles/colors";

.diagram-menu {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 10px;

  .diagram-menu-container {
    display: flex;
    padding: 5px 5px;
    font-size: 25px;
    gap: 10px;
  }
}
