.diagram-menu {
  display: flex;
  background-color: white;
  padding: 5px 5px;
  border: 2px solid #eee;
  justify-content: center;
  font-size: 25px;

  .icon-toggle-button {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 7px;
    margin: 0px 5px;

    &:toggled {
      background-color: #eee;
    }

    &:hover {
      cursor: pointer;
      border: 2px solid turquoise;
    }
  }
}
