.top-menu {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;

  .top-menu-body {
    flex: 1;
    margin: 0px 60px;
  }

  .side-menu-icon {
    align-items: center;
    display: flex;

    &:hover {
      cursor: pointer;
    }
  }
}
