@import "../../global-styles/colors";

.top-menu {
  background-color: white;
  border-bottom: 1px solid $border-color;
  padding: 10px 20px;
  font-size: 24px;

  .top-menu-body {
    display: flex;
    align-content: center;

    .top-menu-item {
      flex: 1;
      padding: 0px 10px;
    }
  }

  .side-menu-icon {
    display: flex;
    align-items: center;
    flex: 0;

    &:hover {
      cursor: pointer;
    }
  }
}
