@use "../../global-styles/colors";
@use "../../global-styles/settings";

.multi-line-text-box {
  width: 100%;
  padding: 10px;
  height: 100%;
  border: 1px solid colors.$border-color;
  border-radius: 4px;
}
