@import "../../global-styles/colors";

.list-view {
  display: flex;
  flex-wrap: wrap;

  .list-view-title {
    flex: 1;
    flex-basis: 100%;
    margin-bottom: 15px;

    h2 {
      font-size: 26px;
    }
  }

  .list-view-content {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background-color: $background-color;
    border: 1px solid $border-color;

    .list-view-header {
      display: flex;
      flex: 1;
      border-bottom: 1px solid $border-color;
      background-color: $dark-grey;
      color: white;

      .list-view-header-item {
        flex: 1;

        &:last-of-type {
          border-right: none;
        }

        p {
          padding: 20px 15px;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }

    .list-view-body {
      display: flex;
      flex: 1;
      flex-basis: 100%;
      flex-wrap: wrap;

      .list-view-body-row {
        display: flex;
        flex: 1;
        flex-basis: 100%;
        border-bottom: 1px solid $border-color;

        &:last-of-type {
          border-bottom: none;
        }
      }

      .list-view-body-item {
        flex: 1;
        border-right: 1px solid $border-color;

        &:last-of-type {
          border-right: none;
        }

        p {
          padding: 20px 15px;
          font-size: 16px;
        }
      }
    }
  }
}
