@import "../../global-styles/colors";
@import "../../global-styles/settings";

.default-button {
  width: 100%;
  background-color: white;
  border-radius: 0;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  border: 1px solid $border-color;
  flex: 1;
  padding: 0;
  min-width: 300px;
  height: $basic-height;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    background-color: $hover-color;
  }

  &[disabled] {
    background-color: $disabled-color;
    &:hover {
      cursor: not-allowed;
    }
  }
}
