@import "../../global-styles/colors";

.action-button {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  padding: 7px;
  margin: 0px 5px;
  user-select: none;

  &.disabled {
    color: #e3e3e3;

    &:hover {
      cursor: not-allowed;
    }

    img {
      filter: grayscale(100%);
    }
  }

  img {
    height: 30px;
    width: 30px;
  }

  &:hover {
    cursor: pointer;
    border: 1px solid $dark-grey;
  }
}
