@import "../../global-styles/colors";

.rack-container {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border: 1px solid $border-color;
  border-bottom: none;
  width: 100%;

  .rack-container-header {
    display: flex;
    justify-content: flex-start;
    padding: 15px 10px;
    font-size: 16px;
    background-color: $hover-color;
    border-bottom: none;
    border-bottom: 1px solid $border-color;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    align-items: center;
    gap: 20px;

    p {
      flex: 1;
      font-weight: bold;
    }

    .header-icons {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      user-select: none;
      font-size: 22px;
      gap: 10px;

      .header-icons__icon {
        &:hover {
          cursor: pointer;
        }

        &.header-icons__icon--selected {
          color: $success-color;
        }
      }
    }
  }

  .terminal-equipment-table-container {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }
  }
}

.terminal-equipment {
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
  padding: 20px;
}

.terminal-equipment-table-container {
  background-color: white;
  border-radius: 4px;
  border: 1px solid $border-color;
  flex-basis: 100%;
  border-bottom: none;

  .terminal-equipment-table-container-header {
    display: flex;
    padding: 10px;
    font-size: 16px;
    background-color: $hover-color;
    align-items: center;
    gap: 20px;

    p {
      flex: 1;
      font-weight: bold;
    }

    .header-icons {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      user-select: none;
      font-size: 22px;
      gap: 10px;

      .header-icons__icon {
        &:hover {
          cursor: pointer;
        }

        &.header-icons__icon--selected {
          color: $success-color;
        }
      }
    }
  }

  .terminal-equipment-table-container-body {
  }
}

.terminal-equipment-table-grid-header,
.terminal-equipment-table-grid-equipped {
  display: grid;
  grid-template-columns: 4fr 3.5fr 3fr 3.5fr 4fr;
}

.terminal-equipment-table-grid-free {
  display: grid;
  grid-template-columns: 7.5fr 3fr 7.5fr;
}

.terminal-equipment-table {
  border-top: 1px solid $border-color;

  .terminal-equipment-header {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid $border-color;
  }

  .terminal-equipment-table-body {
    &.terminal-equipment-table-body--rack {
    }

    .terminal-equipment-body-rows {
      max-height: 825px;
      overflow: overlay;
    }

    .terminal-equipment-table-row {
      flex: 1;
      border-bottom: 1px solid $border-color;

      .terminal-equipment-header-row {
        display: flex;
        justify-content: flex-start;
        padding: 10px 10px;
        background-color: $ultra-light-grey;
        font-size: 14px;

        .terminal-equipment-row-header__item {
          flex: 1;
          font-weight: bold;
        }

        .header-icons {
          display: flex;
          flex: 1;
          justify-content: flex-end;
          user-select: none;
          gap: 10px;
          font-size: 16px;

          .header-icons__icon {
            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .terminal-equipment-data-row {
        font-size: 14px;
      }
    }
  }

  .terminal-equipment-table-item {
    padding: 7px 10px;
    border-right: 1px solid $border-color;
    display: flex;
    align-items: center;

    &:last-child {
      padding: 7px 20px 7px 10px;
    }

    &:nth-of-type(5) {
      border-right: none;
    }

    .table-item-terminal {
      width: 100%;
      display: flex;
      align-items: center;

      .table-item-terminal__item {
        text-align: center;
        flex: 1;

        &:first-child {
          flex: 0.5;
        }

        &:nth-child(3) {
          flex: 0.5;
        }

        &:last-child {
          flex: 0.5;
        }

        svg {
          font-size: 18px;
          user-select: none;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .terminal-equipment-table-item__icon {
      user-select: none;
      padding-right: 10px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .terminal-equipment-table-item--free {
    background-color: #b3e4b3;
    text-align: center;

    &:last-child {
      border-right: none;
    }
  }
}

.terminal-equipment-trace-view {
  .trace-view-title {
    padding: 15px 10px;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid $border-color;
    background-color: #f9f9f9;
  }

  .trace-view-grid {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 3fr 4fr 3fr;
  }

  .trace-view-header {
    border-bottom: 1px solid $border-color;
    .trace-view-header-item {
      background-color: #f9f9f9;
      padding: 10px;
      border-right: 1px solid $border-color;
      align-items: center;
      font-weight: bold;
      &:last-child {
        padding: 10px 20px 10px 10px;
      }

      &:nth-of-type(6) {
        border-right: none;
      }
    }
  }

  .trace-view-body {
    .trace-view-body-row {
      border-bottom: 1px solid $border-color;

      &.trace-view-body-row--selected {
        background-color: $select-color;
      }

      &:hover {
        cursor: pointer;
        background-color: $select-color;
      }

      .trace-view-body-item {
        padding: 10px;
        border-right: 1px solid $border-color;
        align-items: center;
        &:last-child {
          padding: 10px 20px 10px 10px;
        }

        &:nth-of-type(6) {
          border-right: none;
        }
      }
    }
  }
}
