.feature-detail-container {
  border-top: 1px solid #e3e3e3;
  padding: 20px 10px;

  .feature-details {
    display: flex;
    margin: 0px auto;
    max-width: 1000px;
    background: white;
    padding: 5px 20px;
    border-radius: 4px;

    .feature-details-info {
      font-size: 16px;
      padding: 10px;
      flex: 1;
      line-height: 1.5;

      span {
        font-weight: bold;
      }
    }

    .feature-details-actions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
    }
  }
}
